.header{
    background-color: black;
    color: white;
    font-weight: bolder;
    padding-left: 8px;
}

.mat-content{
    height: 360px;
    max-height: 62vh;
}

.mat-actions{
    float: right;
    min-height: 0px;
}

.Close-btn{
    width: 60px;
    height: 30px;
    background-color: cornflowerblue;
    color: floralwhite;
    cursor: pointer;
    border-radius: 5px;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}