<h1 class="header" mat-dialog-title>
    Paylines
</h1>

<div mat-dialog-content class="mat-content">
    <div class="content">
        <div>
            <b>1 &nbsp;</b>
            <canvas #line1 width="75" height="35"></canvas>
        </div>
        <div>
            <b>2 &nbsp;</b>
            <canvas #line2 width="75" height="35" ></canvas>
        </div>
        <div>
            <b>3 &nbsp;</b>
            <canvas #line3 width="75" height="35"></canvas>
        </div>
        <div>
            <b>4 &nbsp;</b>
            <canvas #line4 width="75" height="35"></canvas>
        </div>
        <div>
            <b>5 &nbsp;</b>
            <canvas #line5 width="75" height="35"></canvas>
        </div>
        <div>
            <b>6 &nbsp;</b>
            <canvas #line6 width="75" height="35"></canvas>
        </div>
        <div>
            <b>7 &nbsp;</b>
            <canvas #line7 width="75" height="35"></canvas>
        </div>
        <div>
            <b>8 &nbsp;</b>
            <canvas #line8 width="75" height="35"></canvas>
        </div>
        <div>
            <b>9 &nbsp;</b>
            <canvas #line9 width="75" height="35"></canvas>
        </div>
        <div>
            <b>10 &nbsp;</b>
            <canvas #line10 width="75" height="35"></canvas>
        </div>
        <div>
            <b>11 &nbsp;</b>
            <canvas #line11 width="75" height="35"></canvas>
        </div>
        <div>
            <b>12 &nbsp;</b>
            <canvas #line12 width="75" height="35"></canvas>
        </div>
        <div>
            <b>13 &nbsp;</b>
            <canvas #line13 width="75" height="35"></canvas>
        </div>
        <div>
            <b>14 &nbsp;</b>
            <canvas #line14 width="75" height="35"></canvas>
        </div>
        <div>
            <b>15 &nbsp;</b>
            <canvas #line15 width="75" height="35"></canvas>
        </div>
        <div>
            <b>16 &nbsp;</b>
            <canvas #line16 width="75" height="35"></canvas>
        </div>
        <div>
            <b>17 &nbsp;</b>
            <canvas #line17 width="75" height="35"></canvas>
        </div>
        <div>
            <b>18 &nbsp;</b>
            <canvas #line18 width="75" height="35"></canvas>
        </div>
        <div>
            <b>19 &nbsp;</b>
            <canvas #line19 width="75" height="35"></canvas>
        </div>
        <div>
            <b>20 &nbsp;</b>
            <canvas #line20 width="75" height="35"></canvas>
        </div>
        <div>
            <b>21 &nbsp;</b>
            <canvas #line21 width="75" height="35"></canvas>
        </div>
        <div>
            <b>22 &nbsp;</b>
            <canvas #line22 width="75" height="35"></canvas>
        </div>
        <div>
            <b>23 &nbsp;</b>
            <canvas #line23 width="75" height="35"></canvas>
        </div>
        <div>
            <b>24 &nbsp;</b>
            <canvas #line24 width="75" height="35"></canvas>
        </div>
        <div>
            <b>25 &nbsp;</b>
            <canvas #line25 width="75" height="35"></canvas>
        </div>
        <div>
            <b>26 &nbsp;</b>
            <canvas #line26 width="75" height="35"></canvas>
        </div>
        <div>
            <b>27 &nbsp;</b>
            <canvas #line27 width="75" height="35"></canvas>
        </div>
        <div>
            <b>28 &nbsp;</b>
            <canvas #line28 width="75" height="35"></canvas>
        </div>
        <div>
            <b>29 &nbsp;</b>
            <canvas #line29 width="75" height="35"></canvas>
        </div>
        <div>
            <b>30 &nbsp;</b>
            <canvas #line30 width="75" height="35"></canvas>
        </div>

    </div>
</div>

<div mat-dialog-actions class="mat-actions">
  <button mat-stroked-button mat-dialog-close class="Close-btn">Close</button>
</div>

