<div class="content">
    <div class="side-hangs">
        <div class="win-container1" *ngIf="isMatchFound">
            <p>win</p>
        </div>

    </div>
    <div class="reel-body" style="background-image: url('../../assets/background.png');">
        <div class="reel-content" style="background-image: url('../../assets/reelframe.png');">
                <div class="actual-reel">
                    <img *ngFor="let image of reel1"  [src]="'assets/' + image.imageLink" [ngClass]="{'highlight':image.highlight}" [alt]="image.imageLink" class="reel-item">
                </div>
                <div class="actual-reel" >
                    <img *ngFor="let image of reel2" [src]="'assets/' + image.imageLink" [ngClass]="{'highlight':image.highlight}" [alt]="image.imageLink" class="reel-item" >
                </div>
                <div class="actual-reel" >
                    <img *ngFor="let image of reel3" [src]="'assets/' + image.imageLink" [ngClass]="{'highlight':image.highlight}" [alt]="image.imageLink" class="reel-item" >
                </div>
                <div class="actual-reel" >
                    <img *ngFor="let image of reel4" [src]="'assets/' + image.imageLink" [ngClass]="{'highlight':image.highlight}" [alt]="image.imageLink" class="reel-item" >
                </div>
                <div class="actual-reel" >
                    <img *ngFor="let image of reel5" [src]="'assets/' + image.imageLink" [ngClass]="{'highlight':image.highlight}" [alt]="image.imageLink" class="reel-item" >
                </div>
           
        </div>
        <div class="content">
            <div class="spin-button" style="background-image: url('../../assets/spinbtn.png');" (click)="spinReels()">

            </div>
        </div>
    </div>
    <div class="side-hangs">
        <div class="content" style="gap: 35px;">
            <button mat-mini-fab color="primary" matTooltip="Paylines Info"  class="tooltip" (click)="paylineDialog()">
                <mat-icon>menu</mat-icon>
            </button>
            <button class="quit-btn" (click)="homepage()">Quit</button>
        </div>
        <div class="win-container2" *ngIf="isMatchFound" >
            <p>win</p>
        </div>
    </div>
  </div>
