.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-hangs{
    width: 200px;
    height: 490px;
    background-color: black;
    border: 1px solid black;
}

.reel-body{
    border: 1px solid black;
    border-radius: 1px;
    width: 900px;
    height: 490px;
    // background-image: url('../../assets/background.png');
    background-size: cover;
}
.reel-content{
    height: 72%;
    width: 100%;
    // background-image: url('../../assets/reelframe.png');
    background-size: cover;
    background-repeat: round;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    
}

.actual-reel{
    // border: 2px solid black;
    width:20%;
    height: 97%;
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    justify-content: space-evenly;
    overflow: hidden;
}

.reel-item{
    width:90%;
    height: 31%;
}

.highlight{
    animation: highlight_blink 0.25s linear infinite alternate;
}

.spin-button{
    // background-image: url('../../assets/spinbtn.png');
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
div.spin-button:hover{
    cursor: pointer;
    width:110px;
    height: 110px;
    transition: width 1s height 1s ease-out 1s;
}

.quit-btn{
    width: 50px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px white;
    height: 25px;
    color: white;
    background-color: firebrick;
    font-size: 16px;
    transition: font-size 0.4s;
    cursor: pointer;
}

.quit-btn:hover{
    font-size: 18px;
}

.win-container1{
    color: lawngreen;
    margin-top: 220px;
    text-shadow: 0px -5px 7px floralwhite;
    box-shadow: 0px 40px 10px blue;
    text-transform: uppercase;
    text-align: center;
    font-size: 95px;
}

.win-container2{
    color: lawngreen;
    text-shadow: 0px -5px 7px floralwhite;
    margin-top: 190px;
    box-shadow: 0px 40px 10px blue;
    text-transform: uppercase;
    text-align: center;
    font-size: 95px;
}

.tooltip{
    background-color: cyan;
    border-radius: 14px;
    color:black;
    cursor: pointer;
}

@keyframes highlight_blink {

    0%{
        border: 6px solid transparent;
        border-radius: 30%;
        
    }

    100%{
    border: 6px solid white;
    border-radius: 30%;
    box-shadow: 0px 0px 24px ghostwhite;

    }


    
}