.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url('../../assets/casino_home_page.png');
    background-size: cover;
}

.start-btn{
    width: 180px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 40px white;
    height: 50px;
    color: white;
    background-color: darkblue;
    font-size: x-large;
    transition: font-size 0.4s;
    cursor: pointer;
}

.start-btn:hover{
    font-size: xx-large;
}